---
http_interactions:
- request:
    method: post
    uri: https://autoscaling.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAutoScalingInstances&Version=2011-01-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151113T212221Z
      X-Amz-Content-Sha256:
      - a491bab697b02179c504975ff7c43308ecfe04a995c46ebfc7244d7ae0151395
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIJICIPICLDHMCSBA/20151113/us-east-1/autoscaling/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=28c1a91a575157e530b3e6c50c5102162995f46f19610db80e4aca90d6272c4e
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - a03392ad-8a4c-11e5-8030-cbdb8b045fb0
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeAutoScalingInstancesResponse xmlns="http://autoscaling.amazonaws.com/doc/2011-01-01/">
          <DescribeAutoScalingInstancesResult>
            <AutoScalingInstances>
              <member>
                <LaunchConfigurationName>razorjobservice-razor-d0prod-r01-v013-20151112074004</LaunchConfigurationName>
                <LifecycleState>InService</LifecycleState>
                <AutoScalingGroupName>razorjobservice-razor-d0prod-r01-v013</AutoScalingGroupName>
                <InstanceId>i-005a19b7</InstanceId>
                <HealthStatus>HEALTHY</HealthStatus>
                <ProtectedFromHealthCheck>false</ProtectedFromHealthCheck>
                <ProtectedFromScaleIn>false</ProtectedFromScaleIn>
                <AvailabilityZone>us-east-1d</AvailabilityZone>
              </member>
              <member>
                <LaunchConfigurationName>collectorbossservice-razor-d0prod-r01-v013-20151110072442</LaunchConfigurationName>
                <LifecycleState>InService</LifecycleState>
                <AutoScalingGroupName>collectorbossservice-razor-d0prod-r01-v013</AutoScalingGroupName>
                <InstanceId>i-008039f9</InstanceId>
                <HealthStatus>HEALTHY</HealthStatus>
                <ProtectedFrom[...]
[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstances&InstanceId.1=i-00fc75bf&InstanceId.10=i-7d5f3194&InstanceId.11=i-8c816932&InstanceId.12=i-935e307a&InstanceId.13=i-a055b000&InstanceId.14=i-a155b001&InstanceId.15=i-be55b01e&InstanceId.16=i-ec49c05b&InstanceId.2=i-41aacee2&InstanceId.3=i-4618b6bf&InstanceId.4=i-4d60499f&InstanceId.5=i-52604980&InstanceId.6=i-53604981&InstanceId.7=i-5a6d87f9&InstanceId.8=i-7abeffd1&InstanceId.9=i-7b92ce92&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151113T212223Z
      X-Amz-Content-Sha256:
      - 8a08156fe75f10ef5559cf312d5c4da2380c3fe81a0a67ca06c5c2cff5329abf
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIJICIPICLDHMCSBA/20151113/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=2f3359acc0e2bb4d05d2b744997b88830622924b69be5b9481bee8ef2782a59f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>bc7ff0cd-44d9-4fc3-8b51-208d0e923205</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-152caffc</reservationId>
                    <ownerId>716756199562</ownerId>
                    <groupSet/>
                    <instancesSet>
                        <item>
                            <instanceId>i-7b92ce92</instanceId>
                            <imageId>ami-5709b73c</imageId>
                            <instanceState>
                                <code>16</code>
                                <name>running</name>
                            </instanceState>
                            <privateDnsName>ip-10-196-21-143.ec2.internal</privateDnsName>
                            <dnsName/>
                            <reason/>
                            <keyName>production</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>i2.xlarge</instanceType>
                            <launchTime>2015-10-08T20:26:19.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-east-1e</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <subnetId>subnet-e9c0efd3</subnetId>
                            <vpcId>vpc-09775a6c</vpcId>
                            <privateIpAddress>10.196.21.143</privateIpAddress>
                            <sourceDestCheck>true</sourceDestCheck>
                            <groupSet>
                                <item>
                                    <groupId>sg-754a1b11</groupId>
                                    <groupName>razor-prod-1-security-groups-LogsStoreReplication-1DU1NKZ6984CC</groupName>
                                </item>
                                <item>
                                    <groupId>sg-1d4a1b79</groupId>
                                    <groupName>razor-prod-1-security-groups-LogsStore-1TLMLRH5DK6QD</groupName>
                                </item>
                            </groupSet>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/sda1</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/sda1</deviceName>
                                    <ebs>
                                        <volumeId>vol-74814cbc</volumeId>
                                        <status>attached</status>
                                        <attachTime>2015-10-08T20:26:22.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>hvm</virtualizationType>
                            <clientToken>46774a6b-8568-4ca2-919e-90db2118ba29_subnet-e9c0efd3_1</clientToken>
                            <tagSet>
                                <item>
                                    <key>Name</key>
                                    <value>rapid7-elasticsearch-0.3.7</value>
                                </item>
                                <item>
                                    <key>Cluster</key>
                                    <value>esuilogs</value>
                                </item>
                                <item>
                                    <key>aws:autoscaling:groupName</key>
                                    <value>esuilogs-razor-d0prod-r01-v000</value>
                                </item>
                                <item>
                                    <key>Service</key>
                                    <value>rapid7-elasticsearch</value>
                                </item>
                                <item>
                                    <key>Version</key>
                                    <value>0.3.7</value>
                                </item>
                                <item>
                                    <key>Stack</key>
                                    <value>razor-prod-1</value>
                                </item>
                            </tagSet>
                            <hypervisor>xen</hypervisor>
                            <networkInterfaceSet>
                                <item>
                                    <networkInterfaceId>eni-855d53b8</networkInterfaceId>
                                    <subnetId>subnet-e9c0efd3</subnetId>
                                    <vpcId>vpc-09775a6c</vpcId>
                                    <description/>
                                    <ownerId>716756199562</ownerId>
                                    <status>in-use</status>
                                    <macAddress>06:d2:76:a4:55:cb</macAddress>
                                    <privateIpAddress>10.196.21.143</privateIpAddress>
                                    <privateDnsName>ip-10-196-21-143.ec2.internal</privateDnsName>
                                    <sourceDestCheck>true</sourceDestCheck>
                                    <groupSet>
                                        <item>
                                            <groupId>sg-754a1b11</groupId>
                                            <groupName>razor-prod-1-security-groups-LogsStoreReplication-1DU1NKZ6984CC</groupName>
                                        </item>
                                        <item>
                                            <groupId>sg-1d4a1b79</groupId>
                                            <groupName>razor-prod-1-security-groups-LogsStore-1TLMLRH5DK6QD</groupName>
                                        </item>
                                    </groupSet>
                                    <attachment>
                                        <attachmentId>eni-attach-e56d8394</attachmentId>
                                        <deviceIndex>0</deviceIndex>
                                        <status>attached</status>
                                        <attachTime>2015-10-08T20:26:19.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </attachment>
                                    <privateIpAddressesSet>
                                        <item>
                                            <privateIpAddress>10.196.21.143</privateIpAddress>
                                            <privateDnsName>ip-10-196-21-143.ec2.internal</privateDnsName>
                                            <primary>true</primary>
                                        </item>
                                    </privateIpAddressesSet>
                                </item>
                            </networkInterfaceSet>
                            <iamInstanceProfile>
                                <arn>arn:aws:iam::716756199562:instance-profile/razor/us-east-1/razor-prod-1/razor-prod-1-roles-es-LoggingProfile-1DWUM9CT84KK4</arn>
                                <id>AIPAJNM5XZ6FLXRNWXLJY</id>
                            </iamInstanceProfile>
                            <ebsOptimized>false</ebsOptimized>
                        </item>
                    </instancesSet>
                    <requesterId>226008221399</requesterId>
                </item>
                <item>
                    <reservationId>r-246ef5d8</reservationId>
                    <ownerId>716756199562</ownerId>
                    <groupSet/>
                    <instancesSet>
                        <item>
                            <instanceId>i-a055b000</instanceId>
                            <imageId>ami-5709b73c</imageId>
                            <instanceState>
                                <code>16</code[...]
