---
http_interactions:
- request:
    method: post
    uri: https://autoscaling.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAutoScalingInstances&Version=2011-01-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151021T172507Z
      X-Amz-Content-Sha256:
      - a491bab697b02179c504975ff7c43308ecfe04a995c46ebfc7244d7ae0151395
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIJICIPICLDHMCSBA/20151021/us-east-1/autoscaling/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=255f0c1697d9b68586cf89235253338924a5485ef301b301590fbd8c1ba95126
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - ac9656e3-7818-11e5-9c68-c3852bb07973
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeAutoScalingInstancesResponse xmlns="http://autoscaling.amazonaws.com/doc/2011-01-01/">
          <DescribeAutoScalingInstancesResult>
            <AutoScalingInstances>
              <member>
                <LaunchConfigurationName>provisioningbossservice-razor-d0prod-r01-20150929112044</LaunchConfigurationName>
                <LifecycleState>InService</LifecycleState>
                <AutoScalingGroupName>provisioningbossservice-razor-d0prod-r01</AutoScalingGroupName>
                <InstanceId>i-009da0d5</InstanceId>
                <HealthStatus>HEALTHY</HealthStatus>
                <AvailabilityZone>us-east-1d</AvailabilityZone>
              </member>
              <member>
                <LaunchConfigurationName>esuilogs-razor-d0prod-r01-v000-20150825104116</LaunchConfigurationName>
                <LifecycleState>InService</LifecycleState>
                <AutoScalingGroupName>esuilogs-razor-d0prod-r01-v000</AutoScalingGroupName>
                <InstanceId>i-00fc75bf</InstanceId>
                <HealthStatus>HEALTHY</HealthStatus>
                <AvailabilityZone>us-east-1c</Availabi[...]
[...]
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeInstances&InstanceId.1=i-00fc75bf&InstanceId.10=i-935e307a&InstanceId.11=i-a055b000&InstanceId.12=i-a155b001&InstanceId.13=i-be55b01e&InstanceId.2=i-41aacee2&InstanceId.3=i-4d60499f&InstanceId.4=i-52604980&InstanceId.5=i-53604981&InstanceId.6=i-5a6d87f9&InstanceId.7=i-7abeffd1&InstanceId.8=i-7b92ce92&InstanceId.9=i-7d5f3194&Version=2015-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20151021T172511Z
      X-Amz-Content-Sha256:
      - b15ea937b9f44ee77b62a031cfd9582ac0f6ffa419fcc1ea80a7b06aa2afa47a
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIJICIPICLDHMCSBA/20151021/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=10e5c7e5bc0945c5ccad52e114b4f6799e0d9e306c2a4b0e6228fe1ed7778b66
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeInstancesResponse xmlns="http://ec2.amazonaws.com/doc/2015-10-01/">
            <requestId>a74c6703-4620-48f0-892c-e1fdca42d0b1</requestId>
            <reservationSet>
                <item>
                    <reservationId>r-152caffc</reservationId>
                    <ownerId>716756199562</ownerId>
                    <groupSet/>
                    <instancesSet>
                        <item>
                            <instanceId>i-7b92ce92</instanceId>
                            <imageId>ami-5709b73c</imageId>
                            <instanceState>
                                <code>16</code>
                                <name>running</name>
                            </instanceState>
                            <privateDnsName>ip-10-196-21-143.ec2.internal</privateDnsName>
                            <dnsName/>
                            <reason/>
                            <keyName>production</keyName>
                            <amiLaunchIndex>0</amiLaunchIndex>
                            <productCodes/>
                            <instanceType>i2.xlarge</instanceType>
                            <launchTime>2015-10-08T20:26:19.000Z</launchTime>
                            <placement>
                                <availabilityZone>us-east-1e</availabilityZone>
                                <groupName/>
                                <tenancy>default</tenancy>
                            </placement>
                            <monitoring>
                                <state>disabled</state>
                            </monitoring>
                            <subnetId>subnet-e9c0efd3</subnetId>
                            <vpcId>vpc-09775a6c</vpcId>
                            <privateIpAddress>10.196.21.143</privateIpAddress>
                            <sourceDestCheck>true</sourceDestCheck>
                            <groupSet>
                                <item>
                                    <groupId>sg-754a1b11</groupId>
                                    <groupName>razor-prod-1-security-groups-LogsStoreReplication-1DU1NKZ6984CC</groupName>
                                </item>
                                <item>
                                    <groupId>sg-1d4a1b79</groupId>
                                    <groupName>razor-prod-1-security-groups-LogsStore-1TLMLRH5DK6QD</groupName>
                                </item>
                            </groupSet>
                            <architecture>x86_64</architecture>
                            <rootDeviceType>ebs</rootDeviceType>
                            <rootDeviceName>/dev/sda1</rootDeviceName>
                            <blockDeviceMapping>
                                <item>
                                    <deviceName>/dev/sda1</deviceName>
                                    <ebs>
                                        <volumeId>vol-74814cbc</volumeId>
                                        <status>attached</status>
                                        <attachTime>2015-10-08T20:26:22.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </ebs>
                                </item>
                            </blockDeviceMapping>
                            <virtualizationType>hvm</virtualizationType>
                            <clientToken>46774a6b-8568-4ca2-919e-90db2118ba29_subnet-e9c0efd3_1</clientToken>
                            <tagSet>
                                <item>
                                    <key>Name</key>
                                    <value>rapid7-elasticsearch-0.3.7</value>
                                </item>
                                <item>
                                    <key>Cluster</key>
                                    <value>esuilogs</value>
                                </item>
                                <item>
                                    <key>aws:autoscaling:groupName</key>
                                    <value>esuilogs-razor-d0prod-r01-v000</value>
                                </item>
                                <item>
                                    <key>Service</key>
                                    <value>rapid7-elasticsearch</value>
                                </item>
                                <item>
                                    <key>Version</key>
                                    <value>0.3.7</value>
                                </item>
                                <item>
                                    <key>Stack</key>
                                    <value>razor-prod-1</value>
                                </item>
                            </tagSet>
                            <hypervisor>xen</hypervisor>
                            <networkInterfaceSet>
                                <item>
                                    <networkInterfaceId>eni-855d53b8</networkInterfaceId>
                                    <subnetId>subnet-e9c0efd3</subnetId>
                                    <vpcId>vpc-09775a6c</vpcId>
                                    <description/>
                                    <ownerId>716756199562</ownerId>
                                    <status>in-use</status>
                                    <macAddress>06:d2:76:a4:55:cb</macAddress>
                                    <privateIpAddress>10.196.21.143</privateIpAddress>
                                    <privateDnsName>ip-10-196-21-143.ec2.internal</privateDnsName>
                                    <sourceDestCheck>true</sourceDestCheck>
                                    <groupSet>
                                        <item>
                                            <groupId>sg-754a1b11</groupId>
                                            <groupName>razor-prod-1-security-groups-LogsStoreReplication-1DU1NKZ6984CC</groupName>
                                        </item>
                                        <item>
                                            <groupId>sg-1d4a1b79</groupId>
                                            <groupName>razor-prod-1-security-groups-LogsStore-1TLMLRH5DK6QD</groupName>
                                        </item>
                                    </groupSet>
                                    <attachment>
                                        <attachmentId>eni-attach-e56d8394</attachmentId>
                                        <deviceIndex>0</deviceIndex>
                                        <status>attached</status>
                                        <attachTime>2015-10-08T20:26:19.000Z</attachTime>
                                        <deleteOnTermination>true</deleteOnTermination>
                                    </attachment>
                                    <privateIpAddressesSet>
                                        <item>
                                            <privateIpAddress>10.196.21.143</privateIpAddress>
                                            <privateDnsName>ip-10-196-21-143.ec2.internal</privateDnsName>
                                            <primary>true</primary>
                                        </item>
                                    </privateIpAddressesSet>
                                </item>
                            </networkInterfaceSet>
                            <iamInstanceProfile>
                                <arn>arn:aws:iam::716756199562:instance-profile/razor/us-east-1/razor-prod-1/razor-prod-1-roles-es-LoggingProfile-1DWUM9CT84KK4</arn>
                                <id>AIPAJNM5XZ6FLXRNWXLJY</id>
                            </iamInstanceProfile>
                            <ebsOptimized>false</ebsOptimized>
                        </item>
                    </instancesSet>
                    <requesterId>226008221399</requesterId>
                </item>
                <item>
                    <reservationId>r-246ef5d8</reservationId>
                    <ownerId>716756199562</ownerId>
                    <groupSet/>
                    <instancesSet>
                        <item>
                            <instanceId>i-a055b000</instanceId>
                            <imageId>ami-5709b73c</imageId>
                            <instanceState>
                                <code>16</code[...]
